<title>Iniciar Sesion</title>
<link rel="stylesheet" href="css/login.css">
  
  
  <main>
        <section class="container">
            
            <article class="header">
                <div class="logos">
                    <div class="logoColombia">
                        <img src="img/Logos/potenciavida.svg" alt="">
                    </div>
                    <div class="logoAerocivil">
                        <img src="img/Logos/Logo.svg" alt="">
                    </div>
                </div>
                <div class="image">
                    <img src="img/Logos/img.svg" alt="">
                </div>

            </article>


            <article class="form">
                <form action="">
                    <h2>Hola, ¡Bienvenido de vuelta!</h2>
                    <div>
                        <h1>Iniciar Sesión</h1>
                        <h3>Ingrese sus datos para empezar a usar la app</h3>
                    </div>
                    <input type="text" placeholder="Usuario">
                    <input type="text" placeholder="Contraseña">
                    <a href="#" class="forgot-password">Olvide mi contraseña</a>
                    <button> <a href="#"></a>Acceder</button>
                </form>
                <div class="copyright">
                    <p>V1.0 Versión Alpha</p>
                    <p>Lorem, ipsum dolor sit amet consectetu</p>
                </div>
               
            </article>
        </section>
        
    </main>

    <footer>
        <div class="footer" >

        </div>
    </footer>